<section class="wrapper alt style1">
    <div class="inner">
        <h2 class="major"><input type="text" class="edit-input" name="element[][title]" value="{TITLE}" /></h2>
        <p><textarea class="edit-input" name="element[][text]">{TEXT}</textarea></p>
        <section class="features">
            {ARTICLES}
        </section>
        <ul class="actions">
            <li><a href="{LINK_URL}" class="button">{LINK_TEXT}</a></li>
        </ul>
    </div>
    <input type="hidden" name="element[][link_url]" value="{LINK_URL}" />
    <input type="hidden" name="element[][link_text]" value="{LINK_TEXT}" />
</section>