<section class="wrapper spotlight {CLASS}">
    <div class="inner">
        <a href="#" class="image"><img src="{IMAGE}" alt="" /></a>
        <div class="content">
            <h2 class="major"><input type="text" class="edit-input" name="element[][title]" value="{TITLE}" /></h2>
            <p><textarea class="edit-input" name="element[][text]">{TEXT}</textarea></p>
            <a href="{LINK_URL}" class="special">{LINK_TEXT}</a>
        </div>
    </div>
    <input type="hidden" name="element[][class]" value="{CLASS}" />
    <input type="hidden" name="element[][image]" value="{IMAGE}" />
    <input type="hidden" name="element[][link_url]" value="{LINK_URL}" />
    <input type="hidden" name="element[][link_text]" value="{LINK_TEXT}" />
</section>